<nav class="navbar navbar-light mb-5">
  <div class="container-fluid d-flex justify-content-md-between">
    <div *ngIf="currentUser">
      <a class="btn btn-sm btn-outline-secondary" routerLink="/my-tasks">My Tasks</a>
    </div>
    <div class="ml-auto">
      <a *ngIf="!currentUser" class="btn btn-sm btn-outline-secondary mr-2" routerLink="/register" >Register</a>
      <a *ngIf="!currentUser" class="btn btn-sm btn-outline-secondary" routerLink="/login">Login</a>
      <a *ngIf="currentUser" class="btn btn-sm btn-outline-secondary" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
